/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2018, 1:09:10 PM
    Author     : José Ramírez <josedramirez07@gmail.com>
*/

article, aside, details, figcaption, figure, header, 
footer, hgroup, menu, nav, section, main {
    display: block;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1 0 auto;
}