main {
    background-image: url(../media/background.png); 
}

.profile_container {
    display: inline-block;
}

.profile_container h {
    display: inline-block;
    margin-bottom: 14px;
}

.container {
    margin: auto;
    min-width: 250px;
    background: #2d2d2d;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    color: white;
}

a {
    color: white;
    text-align: center;
}

.forma > label, a {
    display: inline-block;
    margin-bottom: 6px;
}

.forma > * {
    margin-bottom: 24px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.forma hr {
    margin-bottom: 14px;
}

.forma button {
    margin-bottom: 14px;
}

.forma :last-child {
    margin-bottom: 0;
}

.aiotik_button {
    background: #009987;
    width: 100%;
    cursor: pointer;
    border: none;
    color: white;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
}

.error {
    color: red;
    text-align: center;
}